@model ContestEACA.Models.Contest

@{
    ViewData["Title"] = "Удаление";
}

<h2 class="title-center text-center">Удаление</h2>


        <h3 class=" text-center">Вы уверены что хотите удалить конкурс  @Model.Name ?</h3>
    
    <div class="input-group  ">
        <form class="text-center" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <input type="button" onclick="history.back();" value="Вернуться" class="btn btn-primary" />
        </form>


      

    </div>