@model ContestEACA.Models.Contest

@{
    ViewData["Title"] = "Edit";
}

<h2>Изменить свойства конкурса</h2>

<h4>Конкурс</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ProvisionId" />
            <input type="hidden" asp-for="PreImageId" />


            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Rewarding" class="control-label"></label>
                <input asp-for="Rewarding" class="form-control" />
                <span asp-validation-for="Rewarding" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PreTitle" class="control-label"></label>
                <input asp-for="PreTitle" class="form-control" />
                <span asp-validation-for="PreTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PreText" class="control-label"></label>
                <input asp-for="PreText" class="form-control" />
                <span asp-validation-for="PreText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-danger" />
            </div>
        </form>

        <hr />

        <form asp-action="ChangeFile" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="StartTime" />
            <input type="hidden" asp-for="EndTime" />
            <input type="hidden" asp-for="Rewarding" />
            <input type="hidden" asp-for="PreTitle" />
            <input type="hidden" asp-for="PreText" />
            <input type="hidden" asp-for="ProvisionId" />

            <div class="form-group">
                <p>*Отдельная форма для изменения картинки конкурса</p>
            </div>

            <div class="form-group">
                <label class="control-label">Загрузить файл</label>
                <input type="file" name="pic" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Поменять картинку" class="btn btn-default btn-danger" />
            </div>

        </form>

        <hr />
        

        <form asp-action="ChangeProvision" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="StartTime" />
            <input type="hidden" asp-for="EndTime" />
            <input type="hidden" asp-for="Rewarding" />
            <input type="hidden" asp-for="PreTitle" />
            <input type="hidden" asp-for="PreText" />
            <input type="hidden" asp-for="PreImageId" />

            <div class="form-group">
                <p>*Отдельная форма для изменения положения о конкурсе</p>
            </div>

            <div class="form-group">
                <label class="control-label">Загрузить файл</label>
                <input type="file" name="provision" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Поменять положение" class="btn btn-default btn-danger" />
            </div>

        </form>

        <hr />
    </div>
</div>

