@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

@model LoginViewModel

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Войти";
}


<div class="jumbotron vertical-center">
    <div class="container">
        <h2 class="text-center"> Войдите или <a asp-action="Register" asp-route-returnurl="@ViewData[" ReturnUrl"]">зарегистрирутесь</a></h2>

        @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData[" ReturnUrl"]" method="post" class="form-horizontal">
                <div style="padding-bottom:2%;" class="col-md-12 text-center ">

                    <p class="text-center hidden-sm hidden-md hidden-lg">Войти через:</p>
                    <!-- VK -->
                    <button type="submit" class="btn btn-social btn-vk hidden-xs" name="provider" value="VKontakte">

                        Войти через Вконтакте
                    </button>

                    <button type="submit" name="provider" value="VKontakte"
                            class="btn btn-social-icon btn-vk btn-sm hidden-sm hidden-md hidden-lg">
                        <i class="fa fa-vk"></i>
                    </button>

                    <!-- FACEBOOK -->

                    <button type="submit" class="btn btn-social btn-facebook hidden-xs" name="provider" value="Facebook">
                        Войти через Facebook
                    </button>

                    <button type="submit" name="provider" value="Facebook"
                            class="btn btn-social-icon btn-facebook btn-sm hidden-sm hidden-md hidden-lg">
                        <i class="fa fa-facebook"></i>
                    </button>


                    <!-- GOOGLE -->



                    <button type="submit" class="btn btn-social btn-google hidden-xs" name="provider" value="Google">

                        Войти через Google
                    </button>

                    <button type="submit" name="provider" value="Google"
                            class="btn btn-social-icon btn-google-plus btn-sm hidden-sm hidden-md hidden-lg">
                        <i class="fa fa-google-plus"></i>
                    </button>




                </div>
            </form>
        }


        <form asp-route-returnurl="@ViewData[" ReturnUrl"]" method="post">
            <!-- MAIL -->

            <div class="input-group text-center ">
                <span class="input-group-addon">
                    <i class="fa fa-envelope fa" aria-hidden="true"></i>
                </span>
                <input asp-for="Email" type="text" class="form-control" name="email" id="email" placeholder="Введите вашу почту" />

            </div>

            <span asp-validation-for="Email" class="text-danger input-group text-center"></span>
            <!-- PASSWORD -->

            <div class="input-group text-center">
                <span class="input-group-addon">
                    <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                </span>
                <input name="password" id="password"
                       asp-for="Password" class="form-control" placeholder="Введите пароль" />
            </div>

            <span class="input-group text-center text-danger" asp-validation-for="Password"></span>

            <!-- PASSWORD ? -->

            <div class="remember ">

                <a asp-action="ForgotPassword">Забыли пароль?</a>


                <!-- REMEMBER -->


                <label class="control control-checkbox" asp-for="RememberMe">
                    <input type="checkbox" asp-for="RememberMe" />
                    <div class="control_indicator"></div>
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>

            <!-- LOGIN -->
            <div class="form-group input-group">
                <button type="submit" class="btn btn-primary btn-block">Войти</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
