@model RegisterViewModel
@{
    ViewData["Title"] = "Регестрация";
}



  <div  class="jumbotron vertical-center">
         <div class="container">
        <form  spellcheck="false" class="text-left" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h2  class="text-center" >Создайте новый аккаунт</h2>
            
                
                    <div class="input-group text-center">
                        <span  class="input-group-addon name">
                                Имя &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                        
                        <input asp-for="FirstName" class="form-control" />
                        
                    </div>
                         <span asp-validation-for="FirstName"class="input-group text-center text-danger"></span>
                
                
                    <div class="input-group text-center">
                        <span class="input-group-addon">
                                 Фамилия
                        </span>
                        <input asp-for="LastName" class="form-control" />
                    </div>
                        <span asp-validation-for="LastName" class="input-group text-center text-danger"></span>
               


            <div class="input-group text-center">
                <!-- <label > Почта</label> -->
                <span class="input-group-addon">
                         <i class="fa fa-envelope fa" aria-hidden="true"></i>
                </span>
                <input asp-for="Email" class="form-control"  placeholder="Введите вашу почту"/>
                
            </div>
                <span asp-validation-for="Email" class="input-group text-center text-danger"></span>


            <div class="input-group text-center">
                <!-- <label>Пароль</label> -->
                <span class="input-group-addon">
                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                </span>
                <input asp-for="Password" class="form-control" placeholder="Введите пароль" />
                
            </div>
                <span asp-validation-for="Password" class="input-group text-center text-danger"></span>




            <div class="input-group text-center">
                <!-- <label>Подтвердите пароль</label> -->
                <span class="input-group-addon">
                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                </span>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Повторите пароль" />   
            </div>
                <span class="input-group text-center text-danger" asp-validation-for="ConfirmPassword"></span>


                    <!-- BUTTON -->

            <div  style="margin-top:2%"class="form-group input-group">
                     <button type="submit" class="btn btn-primary btn-block">Зарегестрироваться</button>
            </div>
           
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
