@model ContestEACA.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить работу?</h3>
<div>
    <hr />
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </form>
</div>
