@model ContestEACA.Models.ViewModels.PostsViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Работы участников</h2>


@await Html.PartialAsync("_ConfirmedEmail")


@if (!User.Identity.IsAuthenticated)
{
    <hr />

    <p>
        Для оценивания работ
        <a asp-area="" asp-controller="Account" asp-action="Register">зарегистрируйтесь</a>
        или
        <a asp-area="" asp-controller="Account" asp-action="Login">войдите на сайт</a>
    </p>
        
    <hr />
}


<form method="get">
    <div class="row">
        <div class="form-inline form-group">
            <div class="col-xs-9 col-sm-4">

                <label class="control-label">@Html.DisplayNameFor(x => x.Nominations) </label>
                @Html.DropDownList("nomination", Model.Nominations as SelectList, htmlAttributes: new { @class = "form-control" })

                <input type="submit" value="Filter" class="btn btn-default" />

            </div>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var item in Model.Posts.OrderByDescending(x => x.Rating))
    {
        @await Html.PartialAsync("_PartialPost", item);
    }
</div>

<style>
    .post {
        border-color: green;
        height: 250px;
        margin: auto;
    }
</style>



