@model ContestEACA.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<h2 class="title-center text-center">Удалить</h2>


<div class="center-block">
    <hr />
    <h3 class="text-center">Вы уверены что хотите удалить работу </h3>
    <form class="text-center" asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <a class="btn btn-primary" asp-action="Index">Вернуться назад</a>
    </form>
</div>
