@model ContestEACA.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<h2>Удалить</h2>

<h3>Вы уверены что хотите удалить работу </h3>
<div>
    <hr />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
