
@model ContestEACA.Models.ViewModels.ChangeStatusPostViewModel

@{
    ViewData["Title"] = "SetStatusPost";
}

<h2>Изменение ролей для работы: @Model.Post.Title</h2>

<form asp-action="SetStatusPost" method="post">
    <div class="form-group">
        <label asp-for="Status">Статус поста</label>
        <select asp-for="Status" asp-items="Html.GetEnumSelectList<StatusPost>()"></select>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

