@model ContestEACA.Models.ViewModels.ChangeStatusPostViewModel
@{
    ViewData["Title"] = "Работы в режиме ожидания модерации";
}
<h2 class="title-center text-center">Изменение статуса работы: @Model.Post.Title</h2>

<form class="text-center" asp-action="SetStatusPost" method="post">
    <div class="form-group">
        <label asp-for="Status">Статус поста</label>
        <select class="btn btn-group-vertical dropdown-toggle  " asp-for="Status" asp-items="Html.GetEnumSelectList<StatusPost >()"></select>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
