@{
    ViewData["Title"] = "Home Page";
}
<p></p>
<p> Главная страница ApplicationPosts, войти можно по ссылке сверху</p>

<hr />
<p>Реквизиты администратора:</p>
<p>Login: Administrator@yandex.ru</p>
<p>Password: Qwerty?!12345</p>
<hr />
<p>Реквизиты участника:</p>
<p>Login: Member@yandex.ru</p>
<p>Password: Qwerty?!12345</p>
<hr />
<p>Во вкладке Roles лучше не играться</p>