@{
    ViewData["Title"] = "Home Page";
}

<div class="well">Главная страница Posts, войти можно по ссылке сверху</div>


<div class="panel panel-default">
    <div class="panel-heading">Реквизиты администратора:</div>
    <div class="panel-body">
        <p>Login: Administrator@yandex.ru</p>
        <p>Password: Qwerty?!12345</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Реквизиты участника:</div>
    <div class="panel-body">
        <p>Login: Member@yandex.ru</p>
        <p>Password: Qwerty?!12345</p>
    </div>
</div>
