@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@if (user != null)
{
    <hr />
    if (await UserManager.IsEmailConfirmedAsync(user))
    {
        <p class="">
            <a asp-action="CreatePostInContest" asp-controller="Contests" asp-route-id="@ViewBag.ContestId" class="btn btn-primary">Добавить работу</a>
        </p>
    }
    else
    {
        <p style="font: bold 18px Roboto" class="jumbotron text-center">
            Для добавления работы пожалуйста подтвердите Email -  @user.Email (время ожидания: 1-5 минут)
        </p>
        <p style="font: bold 18px Roboto" class="jumbotron text-center">
            Так же вы можете зайти в <a asp-controller="Manage" asp-action="Index">личный кабинет</a> и послать письмо ещё раз
        </p>
    }
    <hr />
}
