
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@if (user != null)
{
    <hr />
    if (await UserManager.IsEmailConfirmedAsync(user))
    {
        <p>
            <a asp-action="Create" asp-controller="Posts" class="btn btn-primary">Добавить работу</a>
        </p>
    }
    else
    {
        <p>
            Для добавления работы пожалуйста подтвердите Email -  @user.Email
        </p>
    }
    <hr />
}
