
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<ul class="nav navbar-nav">
    <li>
        <a asp-area="" asp-controller="Contests" asp-action="Index">Конкурсы</a>
    </li>
    @if (User.Identity.IsAuthenticated)
    {
        @if (user != null)
        {
            if (UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "user").Result)
            {
                <li>
                    <a asp-area="" asp-controller="MemberPanel" asp-action="Index">Мои работы</a>
                </li>
            }
        }

        @if (user != null)
        {
            if (UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin").Result)
            {
            <li>
                <a asp-area="" asp-controller="AdminPanel" asp-action="Index">Панель администрирования</a>
            </li>
            }
        }
    }
</ul>

