
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2 class="text-center title-center">Список ролей</h2>
<div class="center-row">
<a class="btn btn-primary" style="" asp-action="Create"> <i class="fa fa-plus" aria-hidden="true"></i>Добавить роль</a>
<a class="btn btn-primary" asp-action="UserList"> <i class="fa fa-list" aria-hidden="true"></i> Список пользователей</a>
</div>
    <div class="text-center">
       
                       
    @foreach (var role in Model)
    {
	<div class="input-group text-center ">
                                     
                                     <span>@role.Name </span>
									 <form asp-action="Delete" asp-route-id="@role.Id" method="post">

                                     <button type="submit" class="btn btn-danger">
                                     <i class="fa fa-ban" aria-hidden="true"></i>
                                     Удалить
                                    </button>
                                    </form>
                                    

	</div>
       <!-- <div class="input-group text-center ">
            <p>@role.Name</p>
        </div> 

        <div class="input-group text-center ">
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-primary">
                        Удалить
                    </button>
                </form>    
        </div> -->
    }
</div>

