@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}


         <div class="container">
<h2 class="text-center title-center">Изменение настроек учетной записи</h2>
    <div class="row">
        
            @await Html.PartialAsync("_ManageNav")
        
        
            @RenderBody()
        
    </div>
</div>

  
@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
