
@model EmailConfirmedViewModel

@{
    ViewData["Title"] = "Настройка почты";
    ViewData.AddActivePage(ManageNavPages.EmailConfirmed);
}

<h2 style="margin-top:5%;" class="text-center">@ViewData["Title"]</h2>

@Html.Partial("_StatusMessage", Model.StatusMessage)

 
<div class="row text-center">
    

        <form method="post">
            <div class="form-group">
               
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group ">
                        									<span class="input-group-addon">
                                        <i class="fa fa-envelope fa" aria-hidden="true"></i>
                                    </span>
                        <input asp-for="Email" class="form-control" disabled />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" disabled />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-remove text-danger"></span></span>
                    </div>
                    <p>Вы не подтвердили почту</p>
                    <button asp-action="SendVerificationEmail" class="btn btn-link">Отправить код на почту</button>
                }
            </div>
        </form>

    </div>
</div>
