@model IndexViewModel
@{
    ViewData["Title"] = "Профиль";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h2 style="margin-top:5%;" class="text-center">@ViewData["Title"]</h2>




<div class="row text-center">
    
        @Html.Partial("_StatusMessage", Model.StatusMessage)
        <form  method="post">
           

                        <div class="input-group text-center">
                        <span  class="input-group-addon name">
                                Имя &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                        
                        <input asp-for="FirstName" class="form-control" />
                        
                    </div>
                         <span asp-validation-for="FirstName"class="input-group text-center text-danger"></span>
                
                
                    <div class="input-group text-center">
                        <span class="input-group-addon">
                                 Фамилия
                        </span>
                        <input asp-for="LastName" class="form-control" />
                    </div>
                        <span asp-validation-for="LastName" class="input-group text-center text-danger"></span>

 

            <div class="input-group text-center ">
                <span class="input-group-addon">
                         <i class="fa fa-mobile fa" aria-hidden="true"></i>
                </span>
                <input asp-for="PhoneNumber"  class="form-control" placeholder="Номер телефона"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div  style="margin-top:2%" class="form-group input-group">
                 <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
            </div>
        </form>
    
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
