@model SetPasswordViewModel
@{
    ViewData["Title"] = "Изменение пароля";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h2 style="margin-top:5%;" class="text-center">@ViewData["Title"]</h2>
@Html.Partial("_StatusMessage", Model.StatusMessage)



<div class="row text-center">
    
        <div class=" input-group alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>Вы не можете изменить пароль, так как зашли не под локальным пользователем</p>
        </div>
        <div class=" input-group alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>Если вы укажите пароль, то создадите локального пользователя и сможете заходить на сайт под своей почтой и этим паролем</p>
        </div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-group text-center ">
									<span class="input-group-addon">
                                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                                    </span>
                
                <input asp-for="NewPassword" class="form-control" placeholder="Введите новый пароль" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="input-group text-center ">
                									<span class="input-group-addon">
                                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                                    </span>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Повторите новый пароль" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="input-group text-center ">
                <button type="submit" class="btn btn-primary btn-block" >Изменить пароль</button>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
