@model SetPasswordViewModel
@{
    ViewData["Title"] = "Изменение пароля";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h4>Изменение пароля</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)



<div class="row">
    <div class="col-md-6">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>Вы не можете изменить пароль, так как зашли не под локальным пользователем</p>
        </div>
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>Если вы укажите пароль, то создадите локального пользователя и сможете заходить на сайт под своей почтой и этим паролем</p>
        </div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Изменить пароль</button>
        </form>

    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
